<nav class="navbar navbar-default" id="fpl_memu">
    <div class="">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Application Health Snapshot</a>
</nav>
<div class="col-md-4">
    <div class="list_row_container">
        <div class="list_box" style="background: #ffffff">
            <div class="listHeader"><a href="" ng-click="showme=true">Advanced reading inputs</a></div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">Reg Reading</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">Int Reading</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <!--<div class="row progressHolder">
                                   <div class="progressText col-md-3">Reg Reading</div>
                                   <div class="bs-example col-md-6">
                                            <div class="progress">
                                                <div class="progress-bar" style=
                                                "width: 60%;"></div>
                                            </div>
                                    </div>
                                    <div class="progressCount col-md-3">
                                            <span>60/100</span>
                                    </div>-->
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="list_row_container">
        <div class="list_box" style="background: #ffffff">
            <div class="listHeader"><span>Advanced reading inputs</span></div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <!--<div class="row progressHolder">
                                   <div class="progressText col-md-3">Reg Reading</div>
                                   <div class="bs-example col-md-6">
                                            <div class="progress">
                                                <div class="progress-bar" style=
                                                "width: 60%;"></div>
                                            </div>
                                    </div>
                                    <div class="progressCount col-md-3">
                                            <span>60/100</span>
                                    </div>-->
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="list_row_container">
        <div class="list_box" style="background: #ffffff">
            <div class="listHeader"><span>Advanced reading inputs</span></div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <div class="row progressHolder clearfix">
                <div class="progressText col-md-3 col-xs-3 pull-left">File Count</div>
                <!--<div ng-controller="ProgressDemoCtrl">
                                       <div class="bs-example col-md-6 pull-left">
                                                <div class="progress-bar progress-bar-warning" progressbar load="someProgress"></div>
                                        </div>
                                    </div>-->
                <div class="bs-example col-md-6 col-xs-6">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="progressCount col-xs-3 col-md-3">
                    <span>60/100</span>
                </div>
            </div>
            <!--<div class="row progressHolder">
                                   <div class="progressText col-md-3">Reg Reading</div>
                                   <div class="bs-example col-md-6">
                                            <div class="progress">
                                                <div class="progress-bar" style=
                                                "width: 60%;"></div>
                                            </div>
                                    </div>
                                    <div class="progressCount col-md-3">
                                            <span>60/100</span>
                                    </div>-->
        </div>
    </div>
</div>
<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
</canvas>
<!--<canvas id="line" class="chart chart-line" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options">
</canvas>-->
<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options1">
</canvas>
<h2 ng-show="showme">This is mah content, yo!</h2>
