<div class="col-md-8 col-sm-12 col-xs-12 ">
    <div id="desktop-details" class="list_box hidden-sm hidden-xs">
        <div ng-if="selectedChartData.NO_DATA ">
            {{selectedChartData.NO_DATA }}
        </div>
        <div class="col-lg-12">
            <span class="details-heading">{{selectedChartData.Type}}</span>
        </div>
        <div ng-if="!selectedChartData.NO_DATA ">
            <div class="col-lg-12" ng-repeat="internalChartData in selectedChartData.InternalChartData" style="
                    overflow: hidden;" ng-if="!internalChartData.premiseType">
                <hr />
                <div class="col-md-5">
                    <div id="doughnut1">
                        <div class="heading">{{internalChartData.type}}</div>
                        <div class="col-md-12" style="text-align:center;">
                            <div>
                                <div class="progress-wrapper">
                                    <div class="progress-text" ng-style="getStyle()">
                                        <span>  {{internalChartData.total}}</span>
                                        <br />
                                        <span class="progress-text-toal"> {{internalChartData.filesReceived}}</span>
                                    </div>
                                    <round-progress max="internalChartData.total" current="internalChartData.processed" color="{{ internalChartData.colorCode}}" radius="80" semi="false" rounded="false" stroke="10" clockwise="true" animation="easeOutCubic">
                                        <svg>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                                <stop offset="5%" stop-color="green" />
                                                <stop offset="95%" stop-color="gold" />
                                            </linearGradient>
                                        </svg>
                                    </round-progress>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-12 fields">
                            <div class="processed">
                                <span>Processed</span>
                                <span class="count">{{internalChartData.processed}}</span>
                            </div>
                            <div class="in-progress">
                                <span>In Progress</span>
                                <span class="count">{{internalChartData.inProgress}}</span>
                            </div>
                            <div class="error">
                                <span>Error</span>
                                <span class="count">{{internalChartData.inError}}</span>
                            </div>
                            <div class="error" ng-if="internalChartData.inWaiting !=undefined">
                                <span>In Waiting</span>
                                <span class="count">{{internalChartData.inWaiting}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="wekly heading">Weekly Trend</div>
                    <canvas class="chart chart-line chart-graph" chart-data="internalChartData.lineData" chart-labels="internalChartData.labels" height="220" chart-series="series" chart-options="options" chart-dataset-override="internalChartData.pointBackgroundColor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="selectedChartData.NO_DATA">
        </div>
        <div ng-if=" !internalChartData.premiseType" class="carousel-list_box" ng-repeat="internalChartData in selectedChartData.InternalChartData">
            <div id="sidebar-carousel-{{$index}}" class="carousel slide carousal hidden-md hidden-lg" data-ride="carousel">
                <ol class="carousel-indicators grey">
                    <li data-target="#sidebar-carousel-{{$index}}" data-slide-to="0" class="active carousal-dots"></li>
                    <li data-target="#sidebar-carousel-{{$index}}" data-slide-to="1" class="carousal-dots"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active" heightalignment>
                        <div id="doughnut1">
                            <div class="heading">{{internalChartData.type}}</div>
                            <div class="col-xs-5 chart-container">
                                <div>
                                    <div class="progress-wrapper">
                                        <div class="progress-text" ng-style="getStyle()">
                                            <span> {{internalChartData.total}}</span>
                                            <br />
                                            <span class="progress-text-toal">{{internalChartData.filesReceived}}</span>
                                            <!--  <span class="progress-text-recieved">Recieved</span> -->
                                        </div>
                                        <round-progress max="internalChartData.total" current="internalChartData.processed" color="{{ internalChartData.colorCode}}" radius="60" semi="false" rounded="false" stroke="10" clockwise="true" responsive="true" animation="easeOutCubic">
                                            <svg>
                                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                                    <stop offset="5%" stop-color="green" />
                                                    <stop offset="95%" stop-color="gold" />
                                                </linearGradient>
                                            </svg>
                                        </round-progress>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7 fields">
                                <div class="processed">
                                    <span class="processed-span">Processed</span>
                                    <span class="count">{{internalChartData.processed}}</span>
                                </div>
                                <div class="in-progress">
                                    <span class="processed-span">In Progress</span>
                                    <span class="count">{{internalChartData.inProgress}}</span>
                                </div>
                                <div class="error">
                                    <span class="processed-span">inError</span>
                                    <span class="count">{{internalChartData.inError}}</span>
                                </div>
                                <div class="error" ng-if="internalChartData.inWaiting !=undefined">
                                    <span class="processed-span">In Waiting</span>
                                    <span class="count">{{internalChartData.inWaiting}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" heightalignment>
                        <div class="heading">Weekly Trend</div>
                        <canvas class="chart chart-line chart-mob" chart-data="internalChartData.lineData" chart-labels="internalChartData.labels" chart-series="series" chart-options="options" chart-dataset-override="internalChartData.pointBackgroundColor"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!selectedChartData.NO_DATA">
            <span class="dropdown-toggle billing-heading ng-binding col-sm-12 col-md-12 " data-toggle="dropdown text-center" id=" header-text" href="#" style="float:left;" ng-if="selectedChartData.Type==='Billing Export'">Billing Export Process</span>
            <div class="col-lg-12 col-md-12 col-xs-12 " ng-repeat="internalChartData in selectedChartData.InternalChartData" style="overflow: hidden;" ng-if="internalChartData.premiseType">
                <div><span class="col-lg-12 col-md-12 col-xs-12  premisetype text-center">{{internalChartData.premiseType}}</span>
                </div>
                <hr class=style3/>
                <div class=" col-md-12 col-xs-12 fields">
                    <div class="processed">
                        <span>Cycle number</span>
                        <span class="count">{{internalChartData.cycleNo}}</span>
                    </div>
                    <div class="in-progress">
                        <span>Total Meters</span>
                        <span class="count">{{internalChartData.totalMeters}}</span>
                    </div>
                    <div class="error">
                        <span>Total Reads for  {{internalChartData.totalReadDate}} </span>
                        <span class="count">{{internalChartData.totalForCurrentDate}}</span>
                    </div>
                    <div class="error">
                        <span>Total Early Reads </span>
                        <span class="count">{{internalChartData.totalEarlyReads}} </span>
                    </div>
                    <div class="error">
                        <span>Total98</span>
                        <span class="count">{{internalChartData.total98}}</span>
                    </div>
                    <div class="error">
                        <span>Early Date</span>
                        <span class="count">{{internalChartData.earlyDate}}</span>
                    </div>
                    <hr class="style3">
                </div>
            </div>
        </div>
    </div>
