<div class="col-lg-12 col-md-12 col-sm-12 applicationHeader">
    <ul class="nav navbar-nav">
        <li class="dropdown app-heading">
            <a style="float:left;margin-top:0px;padding: 7px 0" ng-click="showCategory()"><img class="back" src="assets/images/back-arrow.png"></a>
            <span class="hidden-xs hidden-sm"><span class="app-heading-light">You are here:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span ng-class="{'link':selectedApp.title}" ui-sref="landing">DASHBOARD</span>
            <span class="dropdown-toggle" data-toggle="dropdown" id=" header-text" href="#">&nbsp;&gt;&gt;&nbsp;{{selectedApp.title}}</span></span>
            <span class="visible-xs visible-sm mobileHeader"><span >{{selectedApp.title || 'Application Health Summary'}}</span><i class="fa fa-angle-down" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="data in appData" ng-click="showDetails($index);"><a>{{data.title}}</a></li>
            </ul>
            <span class="pull-right hide"><i class="fa fa-bars" aria-hidden="true"></i></span></span>
        </li>
    </ul>
</div>
<div class="clear-float">
    <div class="app-nav hidden-xs hidden-sm">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-model="detailsPage" ng-class="{ 'active':selectedApp.title==data.title}" ng-repeat="data in appData" ng-click="showDetails($index)"><a><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{data.title}}</a></li>
        </ul>
    </div>
</div>
<ui-view></ui-view>
