<!-- <div class="row remedy-tickets visible-xs visible-sm">
    <div id="remedy-carousel-1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators grey">
            <li data-target="#remedy-carousel-1" data-slide-to="0" class="carousal-dots" id="carousel-dot"></li>
            <li data-target="#remedy-carousel-1" data-slide-to="1" class="active
 carousal-dots"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item" id="remedy2">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default first_carousel">
                        <div class="clearfix">
                            <p class="title pull-left">REMEDY TICKETS THIS MONTH</p>
                            <span class="pull-right month-selector">JULY&nbsp;&nbsp;<i class="fa fa-angle-down"></i></span>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <canvas id="pie" class="chart chart-doughnut" chart-data="doughnut.value" chart-labels="doughnut.label" chart-colors="doughnut.color" chart-options="doughnutOptions">
                                </canvas>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <table>
                                    <tr ng-repeat="labels in doughnut.label">
                                        <td class="text-center" ng-style="{'color':doughnut.color[$index]}">{{labels}}</td>
                                        <td class="value text-center">{{doughnut.value[$index]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active" id="remedy1">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <remedy-bar-chart></remedy-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row remedy-tickets visible-lg visible-md">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="clearfix">
                <p class="title pull-left">REMEDY TICKETS THIS MONTH</p>
                <span class="pull-right month-selector">JULY&nbsp;&nbsp;<i class="fa fa-angle-down"></i></span>
            </div>
            <div class="panel-body row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <canvas id="pie" class="chart chart-doughnut" chart-data="doughnut.value" chart-labels="doughnut.label" chart-colors="doughnut.color" chart-options="doughnutOptions">
                    </canvas>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <table>
                        <tr ng-repeat="labels in doughnut.label">
                            <td class="text-center" ng-style="{'color':doughnut.color[$index]}">{{labels}}</td>
                            <td class="value text-center">{{doughnut.value[$index]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <remedy-bar-chart></remedy-bar-chart>
        </div>
    </div>
</div>
 -->
<div class="app-container">
    <div class="col-md-4 col-sm-12" ng-show="tabView">
        <div class="list_row_container">
            <div class="chart-list" ng-click="showDetails($index);" ng-class="{ 'active':chart.selected, '':!chart.selected} " ng-repeat="chart in data[0]">
                <div class="listHeader"><span class="cat-det" href="">{{chart.Type}} </span></div>
                <div class="row progressHolder clearfix" ng-repeat="internalChartData in chart.InternalChartData" ng-if="!internalChartData.premiseType">
                    <div class="progressText col-md-4 col-xs-4">{{internalChartData.type}}</div>
                    <div class="bs-example col-md-5 col-xs-4" set-bgcolor color="internalChartData.colorCode" max="internalChartData.total">
                        <progressbar class="progress" type="{{$index}}" animate="true" max="internalChartData.total" value="internalChartData.processed">
                            <i>
                                <span></span>
                            </i>
                        </progressbar>
                    </div>
                    <div class="progressCount col-xs-4 col-md-3">
                        <span>{{internalChartData.processed}}/ {{internalChartData.total}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ui-view ng-show="contentView"></ui-view>
</div>
</div>
