<div class="item" heightalignment>
    <div class="chart-body">
        <div class="wekly heading">Hourly Trend</div>
        <canvas id="{{id}}" class="chart chart-bar"></canvas>
        <ul class="list-inline sev-items col-md-12">
            <li class="sev" style="color:#fcab54;">server 1</li>
            <li class="sev" style="color:#14b14b8;">server 2</li>
            <li class="sev" style="color:#915eca;">server 3</li>
            <li class="sev" style="color:#8c8867;">server 4</li>
            <li class="sev" style="color:#4596e7;">overall</li>
        </ul>
    </div>
</div>
