<div class="col-md-8 col-sm-12 col-xs-12 ">
    <div id="desktop-details" class="list_box hidden-sm hidden-xs">
        <div ng-if="selectedChartData.NO_DATA ">
            {{selectedChartData.NO_DATA}}
        </div>
        <div class="col-lg-12">
            <span class="details-heading">{{selectedChartData.Type}}</span>
        </div>
        <div ng-if="!selectedChartData.NO_DATA ">
            <div class="col-lg-12" ng-repeat="internalChartData in selectedChartData.InternalChartData" style="
                    overflow: hidden;">
                <div ng-if="!internalChartData.memoryError">
                    <hr />
                    <div class="col-md-5">
                        <div id="doughnut1">
                            <div class="heading">{{internalChartData.alertType}}</div>
                            <div class="col-md-12" style="text-align:center;">
                                <div>
                                    <div class="progress-wrapper progress-line-chart">
                                        <div class="progress-text-fmos" ng-style="getStyle()">
                                            <span>  {{internalChartData.totalCount}}</span>
                                            <br />
                                            <span class="progress-text-toal"> {{internalChartData.totalAlertString}}</span>
                                        </div>
                                        <svg height="160" width="200">
                                            <circle cx="100" cy="85" r="60" stroke="rgb(234, 234, 234)" stroke-width="10" fill="{{internalChartData.color}}" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-12 fields">
                                <div class="processed" ng-repeat="(key, data) in internalChartData.alertCount">
                                    <span class="processed-span" style="color:{{serverColors[$index]}}">{{key}}</span>
                                    <span class="count">{{data}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <remedy-line-chart line-data="internalChartData.lineData"></remedy-line-chart>
                    </div>
                </div>
                <div ng-if="internalChartData.memoryError">
                    <hr/>
                    <div class="col-md-5">
                        <div id="geo-svg-circle">
                            <div class="heading">{{internalChartData.alertType}}</div>
                            <svg height="100" width="100">
                                <circle cx="50" cy="50" r="30" fill="{{internalChartData.color}}" />
                            </svg>
                            <div class="col-md-12" style="text-align:center;">
                                {{internalChartData.memoryError}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="heading">{{internalChartData.statusTitle}}</div>
                        <div class="col-md-12" style="text-align:center; margin-top: 50px;">
                            {{internalChartData.statusDetail}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="selectedChartData.NO_DATA">
        </div>
        <div ng-if=" !internalChartData.premiseType" class="carousel-list_box gadget hidden-md hidden-lg" ng-repeat="internalChartData in selectedChartData.InternalChartData">
            <div carousel ng-if="!internalChartData.memoryError">
                <div slide active="internalChartData.active" index="0">
                    <div id="doughnut1">
                        <div class="heading">{{internalChartData.alertType}}</div>
                        <div class="col-xs-5 chart-container">
                            <div>
                                <div class="progress-wrapper">
                                    <div class="progress-text-fmos" ng-style="getStyle()">
                                        <span>  {{internalChartData.totalCount}}</span>
                                        <br />
                                        <span class="progress-text-toal"> {{internalChartData.totalAlertString}}</span>
                                    </div>
                                    <svg height="200" width="200">
                                        <circle cx="100" cy="100" r="90" stroke="rgb(234, 234, 234)" stroke-width="10" fill="{{internalChartData.color}}" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7 fields">
                            <div class="processed" ng-repeat="(key, data) in internalChartData.alertCount">
                                <span style="color:{{serverColors[$index]}}">{{key}}</span>
                                <span class="count">{{data}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div slide active="active" index="1">
                    <remedy-line-chart data-active="active" line-data="internalChartData.lineData"></remedy-line-chart>
                </div>
            </div>
            <div carousel ng-if="internalChartData.memoryError">
                <div slide active="internalChartData.active" index="0">
                    <div id="doughnut1">
                        <div class="chart-container">
                            <div id="geo-svg-circle">
                                <div class="heading">{{internalChartData.alertType}}</div>
                                <svg height="100" width="100">
                                    <circle cx="50" cy="50" r="30" fill="{{internalChartData.color}}" />
                                </svg>
                                <div class="col-md-12" style="text-align:center;">
                                    {{internalChartData.memoryError}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div slide active="active" index="1">
                    <div class="heading">{{internalChartData.statusTitle}}</div>
                    <div class="col-md-12" style="text-align:center; margin-top: 50px;">
                        {{internalChartData.statusDetail}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!selectedChartData.NO_DATA">
            <span class="dropdown-toggle billing-heading ng-binding col-sm-12 col-md-12 " data-toggle="dropdown text-center" id=" header-text" href="#" style="float:left;" ng-if="selectedChartData.Type==='Billing Export'">Billing Export Process</span>
            <div class="col-lg-12 col-md-12 col-xs-12 " ng-repeat="internalChartData in selectedChartData.InternalChartData" style="overflow: hidden;" ng-if="internalChartData.premiseType">
                <div><span class="col-lg-12 col-md-12 col-xs-12  premisetype text-center">{{internalChartData.premiseType}}</span>
                </div>
                <hr class=style3/>
                <div class=" col-md-12 col-xs-12 fields">
                    <div class="processed">
                        <span>Cycle number</span>
                        <span class="count">{{internalChartData.cycleNo}}</span>
                    </div>
                    <div class="in-progress">
                        <span>Total Meters</span>
                        <span class="count">{{internalChartData.totalMeters}}</span>
                    </div>
                    <div class="error">
                        <span>Total Reads for  {{internalChartData.totalReadDate}} </span>
                        <span class="count">{{internalChartData.totalForCurrentDate}}</span>
                    </div>
                    <div class="error">
                        <span>Total Early Reads </span>
                        <span class="count">{{internalChartData.totalEarlyReads}} </span>
                    </div>
                    <div class="error">
                        <span>Total98</span>
                        <span class="count">{{internalChartData.total98}}</span>
                    </div>
                    <div class="error">
                        <span>Early Date</span>
                        <span class="count">{{internalChartData.earlyDate}}</span>
                    </div>
                    <hr class="style3">
                </div>
            </div>
        </div>
    </div>
