<nav class="navbar navbar-fixed-top" id="navigation">
    <div class="col-xs-12 col-md-12">
        <div class="col-md-5 col-xs-9">
            <div class="navbar-header logo ">
                <img src="assets/images/dash-logo.png" class="img-responsive">
            </div>
        </div>
        <!--   <div class="pull-right  hidden-md hidden-lg col-xs-1"></div>
            <div class="pull-right  col-md-5  col-xs-3">
                <div class=" col-md-1 hidden-xs"></div>
                <div class=" user col-md-1">
                    <img alt="Florida Power &amp; Light logo" src="assets/images/user.png">

                </div>
                <div class="user-info col-md-5 hidden-xs">
                    <span class="user-welcome">Welcome</span><span class="user-name">Danny</span><br />
                    <span class="user-log-info">Last logged in at 1:00PM today</span>
                </div>
                <div class="user-logout col-md-4 hidden-xs">


                    <i class="fa fa-sign-out fa-3 pull-left" aria-hidden="true"></i>
                    <div class="user-logout-text">
                        <span class="logout">Logout</span>
                    </div>
                </div>
            </div>
        </div> -->
</nav>
